// media queries
$sm-phone: 479px;
$phone: 575px;
$tablet: 767px;
$sm-desktop: 991px;
$desktop: 1023px;
$widescreen: 1199px;
$widescreen-x: 1439px;
$widescreen-xl: 1549px;
$widescreen-xxl: 1649px;

// colors
$primary: #fd3850;
$secondary: #f0f0f0;
$lite-white:#fdfdfd;
$black: #000;
$text-color: #00449b;
$blue: #25276a;
$lt-blue: #20224f;
$sky-blue: #3f44c4;
$dark-blue : #002e50;
$darker-blue: #002c4c;
$lt-black: #646464;
$gray:#8a8a96;
$border-clr:#b6b6b6;
$text-bg:#f6f6f6;
$font-icon-bg:#ebebeb;
$para-clr:#a7a7a7;
$background:#f7f7f7;
$slider-arrow:#627a98;

$royal-blue: #256ea2;
$green: #367d46;
$yellow: #ffe42c;
$drk-yellow: #e1760d;
$red: #f00;
$white: #fff;
